.huskiesgreen{
    color:#208220;
}
.login{
    display: flex;
  justify-content: center;
    width: 75%;
    margin:30px;
    padding:1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius:3rem;
    font-size:1.5rem;
}

.greentext{
    color: #208220;
}

.whitebutton{
    
    width: 55%;
    margin:30px;
    padding:0.8rem;
    font-size:1.5rem;
    background-color: white;
    color: #208220;
    border-radius: 1.5rem;
}
.greenbutton{
    width: 55%;
    margin:30px;
    padding:0.8rem;
    font-size:1.5rem;
    background-color: #208220;
    color: white;
    border-radius: 1.5rem;
}